{% extends 'base.html' %}

{% block content %}
<h1>My Categories</h1>
<table>
    <thead>
        <tr>
            <th>Name</th>
            <th>Number of receipts</th>
        </tr>
    </thead>
    <tbody>
        {% for thing in category_list %}
        <tr>
            <td>{{ thing.name }}</td>
            <td>{{ thing.receipts.count }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock content %}
