{% extends 'base.html' %}

{% block content %}
<h1>My Receipts</h1>
<table>
    <thead>
        <tr>
            <th>Vendor</th>
            <th>Total</th>
            <th>Tax</th>
            <th>Date</th>
            <th>Category</th>
            <th>Account</th>
        </tr>
    </thead>
    <tbody>
        {% for thing in receipt_list %}
        <tr>
            <td>{{ thing.vendor }}</td>
            <td>{{ thing.total }}</td>
            <td>{{ thing.tax }}</td>
            <td>{{thing.date|date:"m/d/y" }}</td>
            <td>{{ thing.category.name }}</td>
            <td>{{ thing.account.name }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock content %}
